<div class="container" style="width: 500px">
  <div class="border-bottom text-center">
    <h2><%= @task.title %></h2>
  </div>
  <div class="text-start border-bottom pt-3 pb-3">
    <p><%= @task.details %></p>
  </div>
<div class="d-flex flex-row-reverse mb-3"">
  <div class="p-1">
    <%= link_to "back to my task", tasks_path(@tasks), :class => 'btn btn-primary' %>
  </div>

  <div class="p-1">
    <%= link_to "edit my task", edit_task_path(@task), :class => 'btn btn-primary' %>
  </div>

  <div class="p-1">
    <%= link_to "Delete",
      task_path(@task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      :class => 'btn btn-primary'
    %>
  </div>
</div>

</div>
